:root,
td {
	font-family: sans-serif;
	font-size: 14px;
	line-height: 18px;
	color: #333;
}

.small {
	font-size: 11px;
	line-height: 13px;
}
.error {
	color: #f00;
}
.confirm {
	color: #090;
}

#auth {
	text-align: right;
	line-height: 25.4px;
}

a {
	color: #2A49BF;
	text-decoration: none;
}
h1 > span:after {
	content: '\A0\22B3';
	font-weight: 100;
}
#meta > span:before {
	content: '\279A\A0';
	margin-left: 1em;
}

blockquote {
	margin: 1em 0px;
	padding: 0.5em;
	background-color: #f0f0f0;
}
blockquote > :first-child {
	margin-top: 0;
}
blockquote > :last-child {
	margin-bottom: 0;
}

#stickyactions {
	position: sticky;
	top: 8px;
	height: 0;
	margin-left: 798px;
}
#stickyinner {
	padding: 8px;
	width: 200px;
	background-color: #f0f0f0;
	text-align: center;
}
#stickyinner ul {
	list-style: none inside;
	margin-top: 0;
	padding: 0;
}

.translated {
	display: inline-block;
	height: 10px;
	background-color: #090;
}
.duplicate {
	display: inline-block;
	height: 10px;
	background-color: #fc0;
}
.missing {
	display: inline-block;
	height: 10px;
	background-color: #f00;
}

.row1 {
	background-color: #f0f0f0;
}
.row2 {
	background-color: #f8f8f8;
}

.row1.rowduplicate td.marker {
	background-color: #f6d44c;
}
.row2.rowduplicate td.marker {
	background-color: #fedc54;
}
.row1.rowmissing td.marker {
	background-color: #f64e4e;
}
.row2.rowmissing td.marker {
	background-color: #fe5656;
}

table {
	border-collapse: collapse;
}
table td {
	padding: 4px 8px;
}
td.dirty:after {
	content: ' \2020';
}
table#translation_strings tr.note td {
	background-color: #eef;
	font-size: 0.75em;
}
table#translation_strings td.key {
	width: 250px;
	font-size: 0.75em;
	line-height: 18px;
	vertical-align: baseline;
}
td.marker {
	width: 4px;
	padding-left: 0;
	padding-right: 0;
}
table#translation_strings td.base {
	width: 500px;
	padding-bottom: 0;
	vertical-align: baseline;
}
table#translation_strings td.value {
	width: 500px;
	padding-top: 0;
}
table#translation_strings td.value input {
	width: 100%;
	box-sizing: border-box;
}
