:root,
td {
	font-family: sans-serif;
	font-size: 14px;
	line-height: 18px;
}

span#username {
	line-height: 25.4px;
}

#stickyactions {
	position: sticky;
	top: 0;
	height: 0;
	margin-left: 800px;
}

.translated {
	display: inline-block;
	height: 10px;
	background-color: #090;
}
.duplicate {
	display: inline-block;
	height: 10px;
	background-color: #fc0;
}
.missing {
	display: inline-block;
	height: 10px;
	background-color: #f00;
}

.row1 {
	background-color: #f0f0f0;
}
.row2 {
	background-color: #f8f8f8;
}

.row1.rowduplicate {
	background-color: #f6d44c;
}
.row2.rowduplicate {
	background-color: #fedc54;
}
.row1.rowmissing {
	background-color: #f64e4e;
}
.row2.rowmissing {
	background-color: #fe5656;
}

table#translation_strings {
	border-collapse: collapse;
}
table#translation_strings tr.note td {
	background-color: #eef;
	font-size: 0.75em;
}
table#translation_strings td {
	padding: 4px 8px;
}
table#translation_strings td.key {
	width: 250px;
	font-size: 0.75em;
	line-height: 18px;
	vertical-align: baseline;
}
table#translation_strings td.base {
	width: 500px;
	padding-bottom: 0;
	vertical-align: baseline;
}
table#translation_strings td.value {
	width: 500px;
	padding-top: 0;
}
table#translation_strings td.value input {
	width: 100%;
	box-sizing: border-box;
}
