{% extends 'page.html' %}
{% load display %}

{% block 'title' %}{{ repo.addon_name }} &ndash; Zoo2{% endblock %}

{% block 'content' %}
<h1>
	<span><a href="{% url 'index' %}">Zoo2</a></span>
	<span><a href="{{ repo.get_absolute_url }}">{{ repo.addon_name }}</a></span>
	<span><a href="{{ translation.get_absolute_url }}">{{ locale.name }}</a></span>
	{{ file.path }}
</h1>
{% html_block 'page_alert' %}
{% if fileaction == 'edit' %}
<form action="{% url 'save' repo.full_name locale.code file.path %}" method="post">
	{% csrf_token %}
	<div id="stickyactions">
		<div id="stickyinner">
			<div id="status">
				<div class="translated"></div><div class="duplicate"></div><div class="missing"></div>
				<ul></ul>
			</div>

			<button type="button" id="copy_missing">Copy missing strings</button>
			<button type="submit">Save</button>
		</div>
	</div>
{% endif %}
	<table id="translation_strings">{% for s in strings %}
		<tr class="{% cycle 'row1' 'row2' as rowclass %}">
		{% if s.pre != '' %}
			<td></td>
			<td class="marker"></td>
			<td class="note">{{ s.pre }}</td>
		</tr>
		<tr class="{{ rowclass }}">
		{% endif %}
			<td class="key{% if s.dirty %} dirty{% endif %}" rowspan="2">{{ s.base.key }}</td>
			<td class="marker" rowspan="2"></td>
			<td class="base">{{ s.base.value }}</td>
		</tr>
		<tr class="{{ rowclass }}">
			<td class="value"
			{% if s.example_data %} data-example-data="{{ s.example_data }}"{% endif %}
			{% if s.pluralrule %} data-plural-rule="true"{% endif %}
			{% if s.plurals %} data-plurals="{{ s.plurals }}"{% endif %}
			>
				{% if fileaction == 'edit' %}
				<input type="text" name="locale_strings[{{ s.base.key }}]" value="{{ s.translated }}" />
				{% else %}
				{{ s.translated }}
				{% endif %}
			</td>
		</tr>
	{% endfor %}</table>
	<p class="small">&#x2020; String that has been changed.</p>

{% if fileaction == 'edit' %}
</form>
<script src="/static/file.js" type="text/javascript"></script>
{% endif %}
{% endblock %}
