{% extends 'page.html' %}
{% load display %}

{% block 'content' %}
<h1>
	<span><a href="{% url 'index' %}">Zoo2</a></span>
	<span><a href="{% url 'repo' repo.full_name %}">{{ repo.addon_name }}</a></span>
	<span><a href="{% url 'translation' repo.full_name locale.code %}">{{ locale.name }}</a></span>
	{{ file.path }}
</h1>
{% html_block 'page_alert' %}
{% if fileaction == 'edit' %}
<form action="{% url 'save' repo.full_name locale.code file.path %}" method="post">
	{% csrf_token %}
	<div id="stickyactions">
		<div id="stickyinner">
			<div id="status">
				<div class="translated"></div><div class="duplicate"></div><div class="missing"></div>
				<ul></ul>
			</div>

			<button type="button" id="copy_missing">Copy missing strings</button>
			<button type="submit">Save</button>
		</div>
	</div>
{% endif %}
	<table id="translation_strings">{% for s in strings %}
		{% if s.base.pre != '' %}
		<tr class="note">
			<td></td>
			<td class="marker"></td>
			<td>{{ s.base.pre }}</td>
		</tr>
		{% endif %}
		<tr class="{% cycle 'row1' 'row2' as rowclass %}">
			<td class="key" rowspan="2">{{ s.base.key }} {% if s.dirty %}*{% endif %}</td>
			<td class="marker" rowspan="2"></td>
			<td class="base">{{ s.base.value }}</td>
		</tr>
		<tr class="{{ rowclass }}">
			<td class="value">
				{% if fileaction == 'edit' %}
				<input type="text" name="locale_strings[{{ s.base.key }}]" value="{{ s.translated }}" />
				{% else %}
				{{ s.translated }}
				{% endif %}
			</td>
		</tr>
	{% endfor %}</table>
{% if fileaction == 'edit' %}
</form>
<script src="/static/file.js" type="text/javascript"></script>
{% endif %}
{% endblock %}
