{% extends 'page.html' %}
{% load display %}

{% block 'content' %}
<h1>
	Zoo2
</h1>
{% html_block 'page_alert' %}
<div style="display: flex">
	<div style="width: 800px">
		<p>Zoo is a means of localizing Mozilla extensions that uses Git and GitHub for file management. There are currently {{ repos.count }} repo{{ repos.count | pluralize }}, and translations in {{ translation_count }} language{{ translation_count | pluralize }}.</p>
		{% html_block 'index_content' %}
	</div>

	<div style="flex: auto">
		<h2>Repos</h2>
		<ul style="padding: 0; list-style-position: inside">{% for r in repos %}
			<li>
				<a href="{{ r.get_absolute_url }}">{{ r.addon_name }}</a>
			</li>
		{% endfor %}</ul>

		{% for t in user_translations %}
			{% if forloop.first %}
				<h3>Your translations</h3>
				<ul style="padding: 0; list-style: none">
			{% endif %}
			<li>
				<a href="{{ t.get_absolute_url }}">{{ t.repo.addon_name }} &ndash; {{ t.locale.name }}</a>
				<div style="max-width: 250px">{% complete t.get_complete_counts %}</div>
			</li>
			{% if forloop.last %}
				</ul>
			{% endif %}
		{% endfor %}
	</div>
</div>
{% endblock %}
