<!DOCTYPE html>
<html>
<head>
	<meta charset="utf-8" />
	<title>{% block 'title' %}{% endblock %}</title>
	<link rel="stylesheet" type="text/css" href="/static/zoo2.css" />
	<link rel="stylesheet" type="text/css" href="/static/buttons.css" />
	<script src="https://login.persona.org/include.js" defer="true"></script>
	<script src="/static/persona.js" type="text/javascript" defer="true"></script>
</head>
<body>
	{% if user.is_authenticated %}
	<div style="text-align: right">
		<span id="username">{{ user.username }}</span>
		<a href="#" id="sign_out" class="persona-button"><span>Sign Out</span></a>
	</div>
	{% else %}
	<div style="text-align: right">
		<a href="#" id="sign_in" class="persona-button"><span>Sign In</span></a>
	</div>
	{% endif %}
	{% block 'content' %}{% endblock %}
</body>
</html>
