<style type="text/css">
.translated {
	display: inline-block;
	height: 10px;
	background-color: green;
}
.duplicate {
	display: inline-block;
	height: 10px;
	background-color: orange;
}
.missing {
	display: inline-block;
	height: 10px;
	background-color: red;
}
</style>
{% load display %}

<h1>{{ repo.full_name }}</h1>
<ul>{% for t in repo.translation_set.all %}
	<li>
		<a href="{% url 'translation' t.repo.full_name t.locale.code %}">{{ t.locale.name }} [{{ t.locale.code }}]</a>
		{% if t.dirty %}
			*
		{% endif %}

		{% complete t.get_complete_counts %}
	</li>
{% endfor %}</ul>

<form action="{% url 'new' repo.full_name %}" method="post">
	{% csrf_token %}
	<select name="locale">{% for l in locales %}
		<option value="{{ l.code }}">{{ l.name }}</option>
	{% endfor %}</select>
	<button type="submit">Create</button>
</form>
