{% extends 'page.html' %}
{% load display %}

{% block 'content' %}
<h1>
	<span><a href="{% url 'index' %}">Zoo2</a></span>
	{{ repo.full_name }}
</h1>
<ul>{% for code, t in translated.iteritems %}
	<li>
		<a href="{% url 'translation' t.repo.full_name code %}">{{ t.locale.name }} [{{ code }}]</a>
		{% if t.dirty %}
			*
		{% endif %}
		{% complete t.get_complete_counts %}
	</li>
{% endfor %}</ul>

<p>Existing translations:{% for t in repo.translations_list_set %}
	{{ t }}
{% endfor %}</p>

{% if user.is_authenticated %}
	<form action="{% url 'new' repo.full_name %}" method="post">
		{% csrf_token %}
		<p>Create a new translation:
		<select name="locale" required="">
			<option value=""></option>{% for l in locales %}
			{% if l.code != 'en-US' and l.code not in translated %}
				{% if l.code in repo.translations_list_set %}
					<option value="{{ l.code }}">{{ l.name }} *</option>
				{% else %}
					<option value="{{ l.code }}">{{ l.name }}</option>
				{% endif %}
			{% endif %}
		{% endfor %}</select>
		<button type="submit">Create</button>
		</p>
	</form>
{% endif %}
{% endblock %}
