{% extends 'page.html' %}
{% load display %}

{% block 'content' %}
<h1>
	<span><a href="{% url 'index' %}">Zoo2</a></span>
	{{ repo.addon_name }}
</h1>
{% for code, t in translated.iteritems %}
	{% if forloop.first %}
		<table style="border-collapse: collapse;">
	{% endif %}
	<tr class="{% cycle 'row1' 'row2' %}">
		<td>
			<a href="{% url 'translation' t.repo.full_name code %}">{{ t.locale.name }} [{{ code }}]</a>
			{% if t.dirty %}
				*
			{% endif %}
		</td>
		<td width="400">{% complete t.get_complete_counts %}</td>
	</tr>
	{% if forloop.last %}
		</table>
		<p class="small">* Translation with unsaved changes.</p>
	{% endif %}
{% endfor %}

{% if user.is_authenticated %}
	<form action="{% url 'new' repo.full_name %}" method="post">
		{% csrf_token %}
		<p>Create a new translation:
		<select name="locale" required="">
			<option value=""></option>{% for l in locales %}
			{% if l.code != 'en-US' and l.code not in translated %}
				{% if l.code in repo.translations_list_set %}
					<option value="{{ l.code }}">{{ l.name }} *</option>
				{% else %}
					<option value="{{ l.code }}">{{ l.name }}</option>
				{% endif %}
			{% endif %}
		{% endfor %}</select>
		<button type="submit">Create</button>
		<br />
		<span class="small">* An existing translation, which will be fetched from GitHub when first used. This might take a few seconds.</span></p>
	</form>
{% endif %}
{% endblock %}
