{% extends 'page.html' %}
{% load display %}

{% block 'title' %}{{ repo.addon_name }} &ndash; Zoo2{% endblock %}

{% block 'content' %}
<h1>
	<span><a href="{% url 'index' %}">Zoo2</a></span>
	<span><a href="{% url 'repo' repo.full_name %}">{{ repo.addon_name }}</a></span>
	{{ locale.name }}
</h1>
{% html_block 'page_alert' %}
<p id="meta">Translator: {{ translation.owner.username }}
{% if translation.pull_request > 0 %}
	<span><a href="https://github.com/{{ repo.full_name }}/pull/{{ translation.pull_request }}">View current pull request</a></span>
{% endif %}
</p>
{% for k, v in counts.iteritems %}
	{% if forloop.first %}
		<table>
	{% endif %}
	<tr class="{% cycle 'row1' 'row2' %}">
		<td{% if v.dirty %} class="dirty"{% endif %}>
			<a href="{% url fileaction repo.full_name locale.code k %}">{{ k }}</a>
		</td>
		<td width="400">{% complete v.counts %}</td>
	</tr>
	{% if forloop.last %}
		</table>
		<p class="small">&#x2020; File with unsaved changes.</p>
	{% endif %}
{% endfor %}

{% if translation.dirty and is_owner %}
	<form action="{% url 'push' repo.full_name locale.code %}" method="post">
		{% csrf_token %}
		<p><button type="submit">Push to GitHub</button></p>
	</form>
{% endif %}
{% endblock %}
